[submodule "deps/libvsync"]
	path = deps/libvsync
	url = https://github.com/open-s4c/libvsync.git
[submodule "deps/dice"]
	path = deps/dice
	url = https://github.com/open-s4c/dice.git
[submodule "deps/capstone"]
	path = deps/capstone
	url = https://github.com/capstone-engine/capstone.git
	branch = v5
[submodule "deps/tikl"]
	path = deps/tikl
	url = https://github.com/db7/tikl.git
